// Specific CSS for your home-page
body {
	display: block;
}

.content {
	display: block !important;
	flex-grow: 1;
}

.container {
	h1 {
	padding-top: 70px !important;
	}
}

.home-banner{
	background-image: linear-gradient(-206deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.1) 44%), asset-data-url("arnauddlc_pic.jpg");
  background-size: cover;
  background-position: right top;
  height: 100vh;
  margin-top: -76px;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  position: relative;

}

.overview-card {
	width: 300px;
	height: 130px;
	background: $light-gray-transparent;
	position: absolute;
	bottom: 45px;
	left: 40px;
	border-radius: 3px;
  text-shadow: 1px 0px 2px #0000004d;

	h2 {
		font-size: 21px !important;
	}
}

@media (min-width: 992px) {
	body {
		display: flex;
	}

	.home-banner {
		margin-top: 0;
	}

	.content {
		width: 70%;
	}

	.container {
		width: 85% !important;
		h1 {
			padding-top: 0 !important;
		}
	}
}