<div class="container" id="about">
	<h1>about</h1>
	<p>I am a French Management and Strategy Consultant, based in Sydney, Australia.</p>
	<p>I have worked for more than 3 years in a consultancy, advising major Oil and Gas companies around the world on Strategic and Operational topics. I then switched to the FMCG and Retail industries in which I have been applying for 3 years my strategic and critical thinking.</p>
	<p>This webpage is intended to act as a virtual résumé, showcasing my past experiences, skills, education and projects... I have recently developed an interest in data science and programming, which will take a more important part in my next experiences.</p>
	<p>Should you wish to contact me, feel free to drop me a line in the last section "Contact".</p>
</div>