<div class="container" id="about">
	<h1>about</h1>
	<p>I am a French engineer, with more than 7 years of experience in data science, management and strategy consulting.</p>
	<p>I have worked for more than 3 years in a consultancy, advising major Oil and Gas companies around the world, before moving to Consumer Goods and Retail in which I have hold various positions, still sharpening my strategic and critical thinking.</p>
	<p>Should you wish to connect with me, please feel free to drop me a line in the “contact: section.</p>
</div>