<div class="container" id="skills">
	<h1>skills</h1>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Problem Solving</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Analytics</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Management</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Multicultural Management</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Languages</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Programming</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
</div>