<div class="container" id="skills">
	<h1>skills</h1>
	<div class="masonry">
		<div class="card-skill">
			<div class="content-skill">
				<h2>Languages</h2>
				<table class="languages-box">
					<tr>
						<td>French</td>
						<td class="level">Native</td>
					</tr>
					<tr>
						<td>English</td>
						<td class="level">Bilingual</td>
					</tr>
					<tr>
						<td>Spanish</td>
						<td class="level">Fluent</td>
					</tr>
					<tr>
						<td>Portuguese</td>
						<td class="level">Intermediate</td>
					</tr>
					<tr>
						<td>German</td>
						<td class="level">Basics</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="card-skill">
			<div class="content-skill">
				<h2>Management and Stategy Consulting</h2>
				<p>Problem solving: more than 3 years in a consulting firm for various clients in Oil and Gas, and experience as an independent Consultant in Retail/FMCG</p>
			</div>
		</div>
		<div class="card-skill">
			<div class="content-skill">
				<h2>Analytics</h2>
				<p>Classic analytics (Excel etc.)</p>
				<p>Big data (Hadoop, R, Ruby, SQL)</p>
			</div>
		</div>
		<div class="card-skill">
			<div class="content-skill">
				<h2>Corporate Finance</h2>
				<p>Advanced knowledge acquired through diverse consulting projects and role within Pernod Ricard Finance team</p>
			</div>
		</div>
		<div class="card-skill">
			<div class="content-skill">
				<h2>Programming</h2>
				<div class="languages-box">
					<table>
						<tr>
							<td>Back End</td>
							<td class="level">Ruby (thorough knowledge), SQL (thorough knowledge), Python (basics)</td>
						</tr>
						<tr>
							<td>Front End</td>
							<td class="level">HTML, CSS, JavaScript (thorough knowledge)</td>
						</tr>
						<tr>
							<td>Frameworks</td>
							<td class="level">Ruby on Rails, notions in React</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="card-skill">
			<div class="content-skill">
				<h2>Multicultural Management</h2>
				<p>Extensive experience in different cultures and environment, both when living as an expatriate or through projects and assignments.</p>
				<p>Countries include: Nigeria, Saudi Arabia, Cuba, Argentina...</p>
			</div>
		</div>
	</div>
</div>
