<div class="container" id="experience">
	<h1>experience</h1>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Strategy Manager</h2>
			<h3>Woolworths Group</h3>
			<a href="https://www.woolworthsgroup.com.au/" target="blank"><img src="http://via.placeholder.com/200x100"></a>
			<h3>Sydney, Australia</h3>
			<h3>April 2017 - December 2017</h3>
		</div>
		<div class="card-details">
			<p>Contractor within the Corporate Strategy team.</p>
			<p>Involved in an important project to review product ranges and COGS (Cost Of Goods Sold) in Woolworths supermarkets. Led and facilitated the review process across 6 different categories within Groceries and General Merchandise.</p>
		</div>
		<div class="card-website">
			<p>Nothing yet</p>
		</div>
	</div>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Strategy Manager</h2>
			<h3>Woolworths Group</h3>
			<a href="https://www.woolworthsgroup.com.au/" target="blank"><img src="http://via.placeholder.com/200x100"></a>
			<h3>Sydney, Australia</h3>
			<h3>April 2017 - December 2017</h3>
		</div>
		<div class="card-details">
			<p>Contractor within the Corporate Strategy team.</p>
			<p>Involved in an important project to review product ranges and COGS (Cost Of Goods Sold) in Woolworths supermarkets. Led and facilitated the review process across 6 different categories within Groceries and General Merchandise.</p>
		</div>
		<div class="card-website">
			<p>Nothing yet</p>
		</div>
	</div>
</div>