<div class="container" id="education">
	<h1>education</h1>

	<div class="element-card">
		<div class="card-headlines">
			<h2>Ecole Polytechnique</h2>
			<!-- <h3>Paris, France</h3> -->
			<a href="http://www.polytechnique.edu/en" target="blank"><img src=""></a>
			<h4>Paris, France</h4>
			<h4>2006 - 2011</h4>
		</div>
		<div class="card-details">
			<p>Cycle Ingénieur</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dicta quae voluptate minus a molestiae cupiditate sunt quasi tenetur, id hic sapiente aut dolor voluptates reprehenderit voluptatum repellendus ex fuga.</p>
		</div>
		<div class="card-website" id="polytechnique" data-url="http://www.polytechnique.edu/en">
			<div class="card-website-title">Official website</div>
			<%= link_to website_path(name: "polytechnique"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
			<!-- <= render 'pages/sections/corporate_website', url: "http://www.polytechnique.edu/en", name: "polytechnique" %> -->
		</div>
	</div>

	<div class="element-card">
		<div class="card-headlines">
			<h2>London School of Economics</h2>
			<!-- <h3>Paris, France</h3> -->
			<a href="http://www.lse.ac.uk/" target="blank"><img src=""></a>
			<h4>London, UK</h4>
			<h4>2010 - 2011</h4>
		</div>
		<div class="card-details">
			<p>Visitin student</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dicta quae voluptate minus a molestiae cupiditate sunt quasi tenetur, id hic sapiente aut dolor voluptates reprehenderit voluptatum repellendus ex fuga.</p>
		</div>
		<div class="card-website" id="lse" data-url="http://www.lse.ac.uk/">
			<div class="card-website-title">Official website</div>
			<%= link_to website_path(name: "lse"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
			<!-- <= render 'pages/sections/corporate_website', url: "http://www.lse.ac.uk/", name: "lse" %> -->
		</div>
	</div>


	<div class="element-card">
		<div class="card-headlines">
			<h2>Lycée Jean-Baptiste Say</h2>
			<h3>Classe Prépa PT*</h3>
			<a href="http://lyc-jb-say.scola.ac-paris.fr/" target="blank"><img src=""></a>
			<h4>Paris, France</h4>
			<h4>2003 - 2006</h4>
		</div>
		<div class="card-details">
			<p>Classes Préparatoires aux Grandes Ecoles</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dicta quae voluptate minus a molestiae cupiditate sunt quasi tenetur, id hic sapiente aut dolor voluptates reprehenderit voluptatum repellendus ex fuga.</p>
		</div>
		<div class="card-website" id="jbsay" data-url="http://lyc-jb-say.scola.ac-paris.fr/">
			<div class="card-website-title">Official website</div>
			<%= link_to website_path(name: "jbsay"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
			<!-- <= render 'pages/sections/corporate_website', url: "http://lyc-jb-say.scola.ac-paris.fr/", name: "jbsay" %> -->
		</div>
	</div>
</div>