<div class="container" id="other-interests">
	<h1>other interests</h1>
	
	<div class="element-card">
		<div class="card-headlines">
			<h2>Le Wagon</h2>
			<h3>Coding Bootcamp</h3>
			<div class="corporate_logo">
				<a href="https://www.lewagon.com" target="blank"><%= image_tag("lewagon.jpg") %></a>
			</div>
			<h4>Bali, Indonesia</h4>
			<h4>2018</h4>
		</div>
		<div class="card-details">
			<p>Coding bootcamp</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dicta quae voluptate minus a molestiae cupiditate sunt quasi tenetur, id hic sapiente aut dolor voluptates reprehenderit voluptatum repellendus ex fuga.</p>
		</div>
		<div class="card-website" id="lewagon" data-url="http://www.lewagon.com">
			<div class="card-website-title">Official website</div>
			<%= link_to website_path(name: "lewagon"), remote: true do %>
				<div class="loading btn btn-secondary">Click to load data</div>
			<% end  %>
			<!-- <= render 'pages/sections/corporate_website', url: "http://www.polytechnique.edu/en", name: "polytechnique" %> -->
		</div>
	</div>

	<br>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Music</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Ski</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Running</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
	<div class="card-skill col-xs-12 col-sm-6 col-md-3">
		<div class="content-skill">
			<h2>Swimming</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nesciunt numquam eligendi, consequatur odio earum aliquid maxime! Ea repellat aut a ut debitis aperiam.</p>
		</div>
	</div>
</div>