<div class="container" id="other-interests">
	<h1>other interests</h1>
	<div class="masonry">
		<div class="card-skill">
			<div class="content-skill">
				<h2>Programming / Web Dev</h2>
				<p>A passion I developed recently. I am also working on making it a more important part of my job.</p>
				<p>See Portfolio section for a few available projects</p>
			</div>
		</div>

		<div class="card-skill">
			<div class="content-skill">
				<h2>Debating</h2>
				<p>2010 - My team won the FDA (French Debating Association) national tournament.</p>
				<p>As part of my English classes at Ecole Polytechnique, we participated in a debating tournament (in English) where several french Universities compete each year. We won the final at the Hotel de Lassay, in front of an audience of more than 700 people.</p>
				<p><a href="http://www.frenchdebatingassociation.fr/">--Link to FDA's website--</a></p>
			</div>
		</div>

		<div class="card-skill">
			<div class="content-skill">
				<h2>Travels</h2>
				<p>Can't get enough.</p>
				<p>Enjoy to travel both for pleasure and work.</p>
				<p>At Ecole Polytechnique, I organised cohesion trips to Egypt and Sénégal for 30 students</p>
			</div>
		</div>

		<div class="card-skill">
			<div class="content-skill">
				<h2>Sports</h2>
				<table class="languages-box">
					<tr>
						<td>Ski</td>
						<td class="level">Avid skier, see separate box</td>
					</tr>
					<tr>
						<td>Swimming</td>
						<td class="level">Trying to be regular. Sydney's pools are very practical for this!</td>
					</tr>
					<tr>
						<td>Running</td>
						<td class="level">Trying to be regular. Several races run</td>
					</tr>
						<td>Horseriding</td>
						<td class="level">Four years of training</td>
					</tr>
					<tr>
						<td>Diving</td>
						<td class="level">Learned in Cuba. Something I don't have the opportunity to practice often.</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="card-skill">
			<div class="content-skill">
				<h2>Ski - Freeriding</h2>
				<p>Avid skier, I was lucky enough to start when I was only 5 years old. Skied in France, New Zealand, USA, Russia and hope to continue exploring. Japan would be nice.</p>
				<p>As the Ecole Polytechnique Ski Club President (2009-2010), I organised a weekend in the Alps for more than 500 students, with a budget of around 150,000 Euros.</p>
			</div>
		</div>

		<div class="card-skill">
			<div class="content-skill">
				<h2>Wines and Spirits</h2>
				<p>Sounds cliché, but I love wine. I like to understand how a wine is made unique, and extend this curiosity to different kinds of spirits</p>
			</div>
		</div>

		<div class="card-skill">
			<div class="content-skill">
				<h2>Sketching</h2>
				<p>I like to carry a basic drawing kit and some watercolours. It goes well with travelling too.</p>
			</div>
		</div>


		<div class="card-skill">
			<div class="content-skill">
				<h2>Music</h2>
				<p>Besides listening a lot to music (many many genres), I try to keep practicing guitar and saxophone</p>
			</div>
		</div>
	</div>
</div>