<div class="container" id="portfolio">
	<h1>portfolio</h1>
	
	<p>Placeholders for additional creations - websites and other apps?</p>
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam explicabo beatae, id quos atque quidem blanditiis. Quibusdam exercitationem, soluta sequi explicabo assumenda nulla dolor non numquam. Veritatis odit assumenda pariatur!</p>
	<p>Aut ab facere molestiae saepe, quibusdam inventore aliquam placeat necessitatibus in porro, nulla incidunt repellat. Error sit deserunt, quasi dignissimos eligendi veritatis adipisci sint debitis ipsa, ullam, eius repellat commodi!</p>
	<p>Nemo rem aliquam debitis aspernatur soluta, quia nobis harum dicta aliquid fuga commodi suscipit a error et consequuntur asperiores necessitatibus, sunt similique magni in alias molestias ullam! Quasi, fugit, adipisci.</p>
</div>