<div class="container" id="contact">
	<h1>contact</h1>
	<p>Placeholder for contact form </p>
	<br>
	<br>
	<div id="contact-form">
		<%= render 'contacts/mail_form', contact: @contact %>
	</div>
  <div id="alert-area">
    <%= render 'shared/flashes' %>
  </div>

	<div class="empty-space">	
	</div>
	
</div>