<% page = MetaInspector.new(url, :connection_timeout => 10, :read_timeout => 5, :retries => 2, faraday_http_cache: { store: @cache }) %>
<img src="<%= page.images.best %>" alt="">
<h4><%= page.meta['og:title'] %></h4>
<p><%= page.meta['description'] %></p>