.card-skill {
	padding: 5px;
	height: auto;

	.content-skill{
		background-color: $dark-gray-transparent;
		height: 100%;
		border-radius: 3px;
		display: block;
		padding: 10px;
		color: $light-gray;
		opacity: 0.9;
		overflow: scroll;
		box-shadow: 2px 2px 9px black;

		&:hover{
			opacity: 1;
		}
	}

	h2 {
		margin-top: 0;
		font-size: 18px;
		font-weight: bold;
	}

	p {
		margin-bottom: 0;
		font-size: 14px;
		font-weight: lighter;
	}
}

@media (min-width: 768px) {
	.card-skill{
		height: 180px;
	}
}

@media (min-width: 992px) {
	.card-skill{
		height: 300px;
	}
}
