.element-card {
	display: block;
	border-bottom: 1px solid $light-gray;
	padding: 10px;
	padding-bottom: 25px;
	margin: 0 auto;

	h2 {
		font-size: 24px;
		font-weight: bold;
	}

	h3 {
		font-size: 20px;
		// font-weight: bold;
	}

	h4 {
		font-size: 14px;
		font-weight: initial;
	}

	p {
		font-size: 14px;
		font-weight: lighter;
		text-align: justify;
	}

	ul, li {
		font-size: 14px;
		font-weight: lighter;
	}
}

.card-headlines {
	padding: 5px;
	text-align: center;
	
	img{
  	max-width:100%;
  	max-height: 110px;
	}
}

.card-details, .card-website {
	padding: 10px;
}

.card-website {
		text-align: center;
		max-height: 400px;
		overflow: scroll;
		background: $website-gray;
		border-radius: 4px;
	  box-shadow: 1px 1px 5px #141414;
	  position: relative;
		color: $light-gray;
		margin-bottom: 15px;
			
		// &:hover {
		// 	opacity: 1;
		// }

		img{
			margin-top: 20px;
    	max-width:100%;
    	max-height: 110px;

    	&:hover {
    		transform: scale(1.05);
    	}
		}

		.card-website-title {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 2px 5px;
			margin: 0;
			margin-bottom: 5px;
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;
			background: $dark-gray-transparent;
			font-size: 14px;
			// font-weight: bold;
		}

		h4 {
			font-size: 14px;
		}

		p {
			font-size: 12px;
			font-weight: lighter;
		}

		.loading {
			margin-top: 60px;
		}
	}

	.btn {
		font-size: 12px;
	}
	
	.corporate_logo {
		padding: 5px;
		background-color: white;
		border-radius: 2px;
		max-width: 60%;
		margin: 25px auto;
		text-align: center;
	}

	.last-card {
		border: none;
	}



@media (min-width: 992px) {
	
	.element-card {
		display: flex;
		justify-items: space-between;
	}

	.card-headlines {
		width: 30%;
		text-align: left;
	}

	.card-details {
		width: 50%;
		padding: 30px 30px 5px 30px;
		// border-left: 1px solid $light-gray-transparent;
		// border-right: 1px solid $light-gray-transparent;
	}

	.card-website {
		width: 20%;
		padding: 30px 5px 5px 5px;

		img {
			margin-top: 10px;
		}
		
	}

	.corporate_logo {
		max-width: 100%;
	}
}