.languages-box {
	td {
		list-style: none;
	  font-size: 14px;
    font-weight: lighter;
    padding: 0;
    vertical-align: top;
	}

	.level{
		padding-left: 20px;
	}

	display: flex;
	// text-overflow: wrap;
	// white-space: nowrap;
 //  overflow: hidden;
}