.masonry {
	column-count: 1;
	column-gap: 0;
	// margin: 5px;
}

// for small devices
@media (min-width: 768px) {
	.masonry{
		column-count: 2;
	}
}

// for large devices
@media (min-width: 992px) {
	.masonry{
		column-count: 3;
	}
}

// for larger devices
// @media (min-width: 1290px) {
// 	.masonry{
// 		column-count: 4;
// 	}
// }